  .app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #caf0f8;
  }
  
  .main-area {
    flex: 1;
    display: grid;
    grid-template-rows: 0.06fr 0.28fr 0.1fr 0.2fr 0.4fr; /* סה"כ 1fr */
    flex-direction: column;
    overflow: hidden;
    padding: 0; 
    gap: 0.5rem;
  }
  
  .controls {
    display: flex;
    gap: 1rem;
  }
  
  .grid-area {
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
    background-color: #dff6fc;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  }
  
  .text-display-box {
    border: 2px solid #ccc;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  .text-display-box.selected {
    border-color: #0077b6;
    background-color: #e0f7ff;
  }

  .text-editor { 
    overflow: hidden;
    height: 100%;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .keyboard {
    overflow: hidden;
    height: 100%;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .right-panel {
    width: 200px;
    border-left: 1px solid #ccc;
    padding: 1rem;
    overflow-y: auto;
    background-color: #fafafa;
  }

  h3 {
    justify-self: center;
  }
  